.App {
  text-align: center;
}

.App-header {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: black;
}

.nav_padding {
  padding-left: 320px;
}

.enroll_padding {
  padding-top: 50px;
}

.button_padding {
  padding-right: 600px;
}

.login_padding {
  padding-top: 25px;
}

